HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### github
gulimall-sql
*.gitignore
gulimall-auth-server/src/main/java/com/atguigu/gulimall/auth/controller/OAuth2Controller.java
gulimall-third-party/src/main/resources/application.yml
gulimall_order/src/main/java/com/atguigu/gulimall/order/web/HelloController.java
gulimall_product/src/main/resources/application.yml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
